#home{
    font-size: large;
    font-weight: 700;
    #hometitle {
        background-color: #023180;
        color: #287451;
        margin: 0;
    }
    #homeabout{
        background-color: #233254;
        color: #d30f0f;
        margin: 0;
    }
    #homeinfo{
        background-color: #d4d120;
        color: #ff0c85;
        margin: 0;
    }
    #homecontact{
        background-color: #0ed80e;
        color: rgb(255, 153, 0);
        margin: 0;
    }
}