.footerMain {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	border-radius: 10000px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	// transform: translateY(100%);

	a {
		color: #fff;
	}
}

@media (max-width: 719px) {
	.footerMain {
		padding: 10px;
		width: 90%;
		border-radius: 15px;
	}
}

// .footerVisible {
// 	animation: animationScrollUp 1s ease-in-out forwards;
// }

// @keyframes animationScrollUp {
// 	from {
// 		transform: translateY(100%);
// 	}
// 	to {
// 		transform: translateY(0);
// 	}
	
// }