.aboutMain {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: #f7f7f7;
	flex-direction: column;
	justify-content: flex-start;

	.aboutSubMain {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: rgb(255, 255, 255);
		width: 90%;
		box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

		.title {
			font-size: 6vw;
			margin-bottom: 2vh;
			animation: fadeIn 1s ease-in-out;
		}

		.aboutTitle {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 80%;
			margin: 0;
			padding: 0;

			.aboutContent {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: 0;
				margin-top: 5vh;
				padding: 0;
				height: 40vh;

				p {
					font-size: 2.5vw;
					margin-bottom: 2vh;
				}
			}
		}

		.aboutContent {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			margin: 0;
			padding: 0;

			.aboutText {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin: 0;
				padding: 0;

				p {
					font-size: 1.5vw;
					margin-bottom: 2vh;
				}
			}
		}

		.meetTheTeam {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0;

			h2 {
				font-size: 2vw;
				margin-bottom: 2vh;
			}

			.teamMembers {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 2vw;
				width: 100%;
				height: 100%;
				margin: 2vh;

				.teamMember {
					background-color: white;
					box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
					border-radius: 20px;
					height: 100%;
					height: 80vh;
					padding: 4vh;
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 2vh;
					max-width: 15.5vw;
					transition: all 0.3s ease-in-out;

					img {
						width: 100%;
						height: auto;
						margin-bottom: 2vh;
						background-color: black;
					}

					h3 {
						font-size: 1.4vw;
						font-weight: 600;
						margin-bottom: 1vh;
					}

					h2 {
						font-size: 1vw;
						width: 100%;
						font-weight: 600;
						margin-bottom: 1vh;
					}

					p {
						font-size: 1vw;
						margin-top: 2vh;
					}

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}

		.whereWeWork {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding: 0;
			width: 100%;

			h2 {
				font-size: 4vw;
				margin-bottom: 2vh;
			}

			.whereWeWorkMain {
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: space-around;
				width: 100%;
				margin: 0;
				padding: 0;

				img {
					width: 20vw;
					height: auto;
					margin: 0;
					padding: 0;
				}

				.whereWeWorkText {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					margin: 0;
					padding: 0;
					width: 40vw;
					height: 100%;

					p {
						font-size: 1.5vw;
						margin-bottom: 2vh;
					}

					h1 {
						font-size: 5vw;
						margin-bottom: 2vh;
					}
				}
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}

	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}

@media (max-width: 719px) {
	.aboutMain {
		.aboutSubMain {
			width: 100%;
		
			.title {
				font-size: 8vw;
			}

			.aboutTitle {
				width: 80%;

				.aboutContent {
					height: min-content;

					p {
						font-size: 4vw;
					}
				}
			}

			.whereWeWork {
				h2 {
					font-size: 8vw;
				}

				.whereWeWorkMain {
					flex-direction: column;
					align-items: center;
					justify-content: center;

					img {
						width: 80vw;
					}

					.whereWeWorkText {
						width: 80vw;

						p {
							font-size: 4vw;
						}

						h1 {
							font-size: 10vw;
						}
					}
				}
			}

			.meetTheTeam {
				h2 {
					font-size: 4vw;
				}

				.teamMembers {
					display: grid;
					justify-items: center;
					grid-template-columns: repeat(1, 1fr);
					grid-gap: 2vw;

					.teamMember {
						max-width: 60vw;
						height: min-content;
						padding: 4vh;
						margin: 2vh;

						img {
							width: 100%;
							height: auto;
							margin-bottom: 2vh;
						}

						h3 {
							font-size: 7vw;
							margin-bottom: 1vh;
						}

						h2 {
							font-size: 3.25vw;
							width: 100%;
							margin-bottom: 1vh;
						}

						p {
							font-size: 5vw;
							margin-top: 2vh;
							width: 100%;
							text-align: center;
						}
					}
				}
			}
		}
	}
}