.registerMain {
	width: 100%;
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	a {
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	}

	.registerTitle {
		height: 90vh;
		background-image: url("../public/Background.jpeg");
		background-size: cover;
		background-position: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
		z-index: 10;
	}

	.registerBody {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: center;
		width: 80%;
		padding-right: 3vw;
		padding-left: 3vw;
		z-index: 2000;
		background-color: white;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
		min-height: 70vh;
		position: absolute;
		animation: animationScrollUp 1s ease-in-out forwards;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;

		.registerHeader {
			font-size: 4vw;
		}

		.registerForm {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			width: 100%;

			.volunteerSign {
				border-right: 0 !important;
			}

			.signUp,
			.volunteerSign {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 40%;
				padding: 2vh;
				border-right: 1px solid black;

				.signUpHeader,
				.volunteerSignHeader {
					font-size: 2.5vw;
					margin: 0;
					padding: 0;
					margin-bottom: 2vh;
				}

				.signUpText,
				.volunteerSignText {
					font-size: 1.5vw;
					margin: 0;
					padding: 0;
					margin-bottom: 2vh;
				}

				.signUpButton,
				.volunteerSignButton {
					font-size: 1.5vw;
					padding: 1vh;
					border-radius: 10px;
					background-color: #f0f0f0;
					border: 2px solid black;
					cursor: pointer;
					transition: all 0.2s ease-in-out;
					text-decoration: none;
					color: black;
					margin: 0;
					margin-top: 2vh;
					margin-bottom: 6vh;

					&:hover {
						background-color: #e0e0e0;
						font-size: 2vw;
						margin-bottom: 4.5vh;
					}
				}
			}
		}

		.redirect {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			padding: 2vh;

			.redirectHeader {
				font-size: 2.5vw;
				margin: 0;
				padding: 0;
				margin-bottom: 2vh;
			}

			.redirectText {
				font-size: 1.5vw;
				margin: 0;
				padding: 0;
				margin-bottom: 2vh;
			}

			.redirectButton {
				font-size: 1.5vw;
				padding: 1vh;
				border-radius: 10px;
				background-color: #f0f0f0;
				border: 2px solid black;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				text-decoration: none;
				color: black;
				margin: 0;
				margin-top: 2vh;
				margin-bottom: 6vh;

				&:hover {
					background-color: #e0e0e0;
					font-size: 2vw;
					margin-bottom: 4.5vh;
				}
			}
		}

		.moreInfo {
			font-size: 1.5vw;
			margin: 0;
			margin-bottom: 5vh;
			margin-top: 10vh;
			padding: 3vw;
			background-color: rgba(58, 115, 192, 255);
			color: white;
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			h1 {
				font-size: 2.5vw;
				margin: 0;
				padding: 0;
				margin-bottom: 2vh;
			}

			p {
				font-size: 1.5vw;
				margin: 0;
				padding: 0;
				margin-bottom: 2vh;
			}

			a {
				font-size: 1.5vw;
				padding: 1vh;
				border-radius: 10px;
				background-color: #f0f0f0;
				border: 2px solid black;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				text-decoration: none;
				color: black;
				margin: 0;
				margin-top: 2vh;
				margin-bottom: 6vh;

				&:hover {
					background-color: #e0e0e0;
					font-size: 2vw;
					margin-bottom: 4.5vh;
				}
			}
		}

		.contact {
			font-size: 1.5vw;
			margin: 0;
			padding: 3vw;
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			h1 {
				font-size: 2.5vw;
				margin: 0;
				padding: 0;
				margin-bottom: 2vh;
			}

			p {
				font-size: 1.5vw;
				margin: 0;
				padding: 0;
				margin-bottom: 2vh;
			}

			a {
				font-size: 1.5vw;
				padding: 1vh;
				border-radius: 10px;
				background-color: #f0f0f0;
				border: 2px solid black;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				text-decoration: none;
				color: black;
				margin: 0;
				margin-top: 2vh;
				margin-bottom: 6vh;

				&:hover {
					background-color: #e0e0e0;
					font-size: 2vw;
					margin-bottom: 4.5vh;
				}
			}
		}
	}

	@keyframes animationScrollUp {
		from {
			top: 100vh;
		}
		to {
			top: 67.5vh;
		}
	}
}